spring.application.name=todo-api

spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=
#spring.jpa.show-sql=true
#spring.jpa.hibernate.ddl-auto=update

# making jackson case INSENSITIVE
spring.jackson.deserialization.fail-on-unknown-properties=false
spring.jackson.mapper.accept-case-insensitive-enums=true

# invalidate session cookie after 30 min
server.servlet.session.timeout=30m